<div id="hgheader">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <a href="/#site" class="pull-left">
                <img class="mycenter" alt="Hygieia" src="assets/images/hygieia_H.png">

            </a>

            <div ng-controller="SiteController">
                <div class="navbar-text navbar-right">Signed in as {{ ctrl.username }}
                    <div class="divider"></div>
                    <span class="fa fa-power-off  fa-2x" style="color:red;" ng-click="ctrl.logout()"></span>
                </div>


            </div>
    </nav>
</div>
