<div id="signup">
    <div class="col-md-8 col-md-push-2">
        <div class="widget-modal">
            <div class="widget-modal-heading">
                Please Signup
            </div>
            <div class="widget-modal-body">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                <div class="row">
                    <div class="col-xs-8">
                      <form name="suf" class="form" ng-submit="signup.submit(suf.$valid)" novalidate>

                          <div class="form-group">

                        <input type="text"  class="form-control text-center" ng-model="signup.id" name="myusername"
                               placeholder="Enter your login Id"/>
                          </div>

                          <div class="form-group">

                         <input type="password"  class="form-control text-center"
                                ng-model="signup.password"
                                required
                                minLength=6
                                name="mypassword"
                                placeholder="Enter your Password"/>
</div>
                          <div class="error-container" ng-show="suf.mypassword.$error.minlength">Password should be min length of 6 container</div>
                          <div class="form-group">
                          <input type="password"  class="form-control text-center"
                                 ng-model="signup.passwordConfirm"
                                 required
                                 minLength=6
                                 match="signup.password"
                                 name="myConfirmPassword"
                                 placeholder="Enter your Password Again"/>
                              <div class="error-container" ng-show="suf.myConfirmPassword.$error.minlength">Password should be min length of 6 container</div>
                          <div class="error-container" ng-show="suf.myConfirmPassword.$error.match">Passwords do not match!</div>

</div>
                    </div>

                    <div class="col-xs-2">
                        <div class="btn btn-default" ng-click="signup.doSignup()">
                            <span class="fa fa-stack fa-lg">
                                <span class="fa fa-thumbs-o-up"></span>
                            </span>
                            <br/>
                            Click to Register
                        </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
