<widget-modal widget-modal-title="Configure Feature Widget">
    <form name="configForm" ng-submit="ctrl.submit(configForm.$valid)"
          novalidate="novalidate">
        <div class="form-group clearfix"
             ng-class="{'has-error': configForm.collectorItemId.$invalid && ctrl.submitted}">
            <div class="col-sm-push-2 col-sm-8">
                <label class="modal-label">Scope Owner Name:</label> <select
                    name="collectorItemId" class="form-control"
                    ng-model="ctrl.collectorItemId"
                    ng-options="item.teamName for item in ctrl.scopeOwners | orderBy: 'teamName' track by item.value"
                    ng-disabled="ctrl.toolsDropdownDisabled" required>
                <option value="">{{ctrl.toolsDropdownPlaceholder}}</option>
            </select>

                <p class="help-block"
                   ng-if="configForm.collectorItemId.$error.required">Please select
                    a valid team / scope-owner</p>
            </div>
        </div>

        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide">Save</button>
        </div>
    </form>
</widget-modal>